.custom-btn {
  border-radius: 2px;
  padding: 5px 7px;
  font-size: 17px;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
  background: none;
}

.custom-btn:before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  background: #f39d12bc;
  bottom: 0;
  
  left: 0;
  transition: all 0.5s;
  color: white;
  z-index: -2;
}
.custom-btn:hover:before {
  width: 100%;
  transition: all 0.5s;
}
.custom-btn:hover {
  color: white;
}
